p{
    display: inline;
}
*{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: #1b74e4;
}
#search{
    background-color: black;
    color: white;
}
.ls{
    background-color: aqua;
}